
:root {
  --primary: #ff5900;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}

/*nav bar*/
.home-navbar {
  background-color: var(--primary);
  
}

.nav-home {
  color: white;
} 

.nav-item .nav-link {
  color: white;
}

.btn-primary {
  background-color: var(--primary);
  border: none;
}


/*carousel*/
.carousel-item img{
  height: 70vh;
  object-fit: cover;
}

/*info cards*/
.card-stats {
  background-color: var(--primary);
  border: none;
}
.card-stats .card-body{
  background-color: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.card-stats .card-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Sharp Sans';
  
}
.card-stats .card-text {
  text-align: center;
  
}

/*cards*/



.card-link {
  color: var(--primary);
  background-color: transparent;
  border: none;
  margin-left: 0;

}